.search-form.ng-scope
    .navbar-form.ng-pristine.ng-valid(role='search')
        .form-group
            input.form-control(
                type='text'
                placeholder='Search...'
                autocomplete='off'
                v-model='query'
                v-on:keydown.down='down'
                v-on:keydown.up='up'
                v-on:keydown.enter='hit'
                v-on:keydown.esc='reset'
                )
            button.btn.search-button(type='submit')
                i.ti-search
            ul(v-if='items && items.length > 0')
                li(v-for='(item, $item) in items' v-bind:class='activeClass($item)' v-on:mousedown='hit' v-on:mousemove='setActive($item)')
                    span.name {{ item.text }}