.search-form.ng-scope
    .navbar-form.ng-pristine.ng-valid(role='search')
        .form-group
            input.form-control(
                type='text'
                placeholder='Search...'
                autocomplete='off'
                v-model='query'
                )
            button.btn.search-button(type='submit')
                i.ti-search
    //label.control-label(v-if="typeof label_con === 'undefined' || label_con")
    //    | City
    //input.form-control.tooltips.typeahead(
    //    type='text'
    //    placeholder='Karachi'
    //    autocomplete='off'
    //    v-model='query'
    //    v-on:keydown.down='down'
    //    v-on:keydown.up='up'
    //    v-on:keydown.enter='hit'
    //    v-on:keydown.esc='reset'
    //    v-on:blur='reset_items'
    //    v-on:input='update'
    //    )
    //p.text-danger.text-right(v-if='validation.hasError("query")') {{ validation.firstError('query') }}
    ul(v-if='searchData && searchData.length > 0')
        //li(v-for='(item, $item) in searchData' v-bind:class='activeClass($item)' v-on:mousedown='hit' v-on:mousemove='setActive($item)')
        li(v-for='(item, $item) in searchData')
            span.name {{ item.text }}
            //span.des(v-text='item.description')