#container.wrap-content.container
    section#page-title
        .row
            .col-xs-12.col-sm-12.col-md-8.col-lg-8
                h1.mainTitle Master Listing
                span.mainDescription List: Chart Of Account
            ol.breadcrumb
                li
                    span Master Listing
                li
                    span List: Chart Of Account
                li.active
                    span Sub Control
    .container-fluid.container-fullw.bg-offwhite
        form(v-on:submit.prevent='showSheet')
            .row
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                    .panel.panel-white.no-radius
                        .panel-heading.border-bottom.border-left.border-yellow.no-padding.no-line-height.no-min-height
                            h4.panel-title.pull-left.padding-15 Sub Control
                        .panel-body
                            .row
                                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                    .form-group
                                        .row
                                            .col-xs-12.col-sm-12.col-md-6.col-lg-6
                                                .text-center(v-if='dataLoad1')
                                                    i.fa.fa-refresh.fa-spin.fa-fw.fa-2x
                                                template(v-else='v-else')
                                                    label Project
                                                    select.form-control(name='sel_project', v-model='sel_project')
                                                        option(value='') Select Project
                                                        option(v-for='(row, key, ind) in proData', v-bind:value='key') {{ row.name }}
                                                    p.text-danger.text-right(v-if='validation.hasError("sel_project")') {{ validation.firstError('sel_project') }}
                            .row(v-if='dataLoad2')
                                .col-xs-12.col-sm-12.col-md-6.col-lg-6
                                    .text-center
                                        i.fa.fa-refresh.fa-spin.fa-fw.fa-2x
                            template(v-else='v-else')
                                .row
                                    .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                        .form-group
                                            .row
                                                .col-xs-12.col-sm-12.col-md-6.col-lg-6
                                                    label Starting Sub Control
                                                    select.form-control(name='sel_subCont_start', v-model='sel_subCont_start')
                                                        option(value='') Select Sub Control
                                                        option(v-for='(row, key, ind) in subContData', v-bind:value='key') {{ row.name }}
                                                    p.text-danger.text-right(v-if='validation.hasError("sel_subCont_start")') {{ validation.firstError('sel_subCont_start') }}
                                .row
                                    .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                        .form-group
                                            .row
                                                .col-xs-12.col-sm-12.col-md-6.col-lg-6
                                                    label Ending Sub Control
                                                    select.form-control(name='sel_subCont_end', v-model='sel_subCont_end')
                                                        option(value='') Select Sub Control
                                                        option(v-for='(row, key, ind) in subContData', v-bind:value='key') {{ row.name }}
                                                    p.text-danger.text-right(v-if='validation.hasError("sel_subCont_end")') {{ validation.firstError('sel_subCont_end') }}
                            .row(v-if='validForm')
                                .col-xs-12.col-sm-12.col-md-4.col-lg-4.pull-left
                                    a.btn.btn-lg.btn-primary.btn-wide.pull-left(v-bind:href='anchURL' target='_blank')
                                        | Submit
