aside.right-side
    section.content-header
        h1 Pending Requests
        ol.breadcrumb
            li
                router-link(to='/')
                    i.fa.fa-dashboard
                    |  Dashboard
            li Deliveries
            li Pending Requests
    section.content
        .row
            .col-xs-12
                .box
                    .box-header
                        ul.nav.nav-tabs(role='tablist')
                            li.active(role='tablist')
                                a(href='#all' aria-controls='home' role='tab' data-toggle='tab') All
                    .box-body
                        div.tab-content
                            div.tab-pane.active#all(role='tabpanel')
                                div.table-responsive
                                    div.text-center(v-if='dataLoad')
                                        i.fa.fa-refresh.fa-spin.fa-3x.fa-fw
                                    h3.text-center(style='margin: 15px 0;' v-if='!dataLoad && all.length === 0')
                                        | No Data Found!
                                    table.table.table-hover(v-if='!dataLoad && all.length > 0')
                                        thead
                                            tr
                                                th S.No#
                                                th Date
                                                th Origin
                                                th Destination
                                                th Distance
                                                th Duration
                                                th Require Vehicle
                                        tbody
                                            tr(v-for='(row, ind) in all')
                                                td {{ ind+1 }}
                                                td {{ row.createdAt }}
                                                td {{ row.orgText }}
                                                td {{ row.desText }}
                                                td {{ row.disText }}
                                                td {{ row.durText }}
                                                td {{ row.vecType }}
