#container.wrap-content.container
    section#page-title.padding-top-15.padding-bottom-15
        .row
            .col-sm-7
                h1.mainTitle Dashboard
                span.mainDescription Status & Reports
            .col-sm-5
                .search-form.ng-scope
                    a.s-open(href='#')
                        i.ti-search
                    form.navbar-form.ng-pristine.ng-valid(role='search')
                        a.s-remove(href='#', target='.navbar-form')
                            i.ti-close
                        .form-group
                            input.form-control(type='text', placeholder='Search...')
                            button.btn.search-button(type='submit')
                                i.ti-search
    .container-fluid.container-fullw.bg-offwhite
        .row
            .col-xs-12.col-sm-12.col-md-6.col-lg-6
                .panel.panel-white.no-radius
                    .panel-heading.border-bottom.border-left.border-yellow
                        h4.panel-title Daily Reports
                    .row
                        .col-xs-12.col-sm-12.col-md-6.col-lg-6
                            .panel-body
                                .text-center
                                    span.mini-pie
                                        canvas#chart3.full-width
                                        span 680
                                .margin-top-20.text-center.legend-xs.inline
                                    #chart3Legend.chart-legend
                        .col-xs-12.col-sm-12.col-md-6.col-lg-6
                            .panel-footer
                                .clearfix.padding-0.space0
                                    .col-xs-12.col-sm-4.col-md-12.col-lg-12.text-center.background-f8f8f8.chart-heading
                                        .row
                                            span.text-light.text-left.text-font-21.col-xs-12.col-sm-6.col-md-6.col-lg-6.pull-right Income
                                            span.text-bold.block.text-font-62.col-xs-12.col-sm-6.col-md-6.col-lg-6.pull-left 100%
                                    .col-xs-12.col-sm-4.col-md-12.col-lg-12.text-center.background-efefef.chart-heading
                                        .row
                                            span.text-light.text-left.text-font-21.col-xs-12.col-sm-6.col-md-6.col-lg-6.pull-right Expense
                                            span.text-bold.block.text-font-62.col-xs-12.col-sm-6.col-md-6.col-lg-6.pull-left 100%
                                    .col-xs-12.col-sm-4.col-md-12.col-lg-12.text-center.background-e6e6e6.chart-heading
                                        .row
                                            span.text-light.text-left.text-font-21.col-xs-12.col-sm-6.col-md-6.col-lg-6.pull-right Total
                                            span.text-bold.block.text-font-62.col-xs-12.col-sm-6.col-md-6.col-lg-6.pull-left 100%
            .col-xs-12.col-sm-12.col-md-6.col-lg-6
                .panel.panel-white.no-radius
                    .panel-heading.border-bottom.border-green
                        h4.panel-title Recent Reports
                    .panel-body.no-padding
                        .margin-top-20.text-left.legend-xs.inline
                            table.table.no-margin.table-striped
                                tbody
                                    tr
                                        td(style='text-align: left;width: 30px;')
                                            img(src='assets/images/list-icon.png', style=' margin-left: 10px; ')
                                        td
                                            span.text-small.block.text-light.table-heading Control Reports
                                            span.table-subheading Monthly
                                        td.text-right
                                            .cl-effect-13
                                                a(data-v-8efb31ec='', href='', style=' color: #a6c367; ') view more
                                    tr
                                        td(style='text-align: left;width: 30px;')
                                            img(src='assets/images/list-icon.png', style=' margin-left: 10px; ')
                                        td
                                            span.text-small.block.text-light.table-heading Control Reports
                                            span.table-subheading Monthly
                                        td.text-right
                                            .cl-effect-13
                                                a(data-v-8efb31ec='', href='', style=' color: #a6c367; ') view more
                                    tr
                                        td(style='text-align: left;width: 30px;')
                                            img(src='assets/images/list-icon.png', style=' margin-left: 10px; ')
                                        td
                                            span.text-small.block.text-light.table-heading Control Reports
                                            span.table-subheading Monthly
                                        td.text-right
                                            .cl-effect-13
                                                a(data-v-8efb31ec='', href='', style=' color: #a6c367; ') view more
                                    tr
                                        td(style='text-align: left;width: 30px;')
                                            img(src='assets/images/list-icon.png', style=' margin-left: 10px; ')
                                        td
                                            span.text-small.block.text-light.table-heading Control Reports
                                            span.table-subheading Monthly
                                        td.text-right
                                            .cl-effect-13
                                                a(data-v-8efb31ec='', href='', style=' color: #a6c367; ') view more
                                    tr
                                        td(style='text-align: left;width: 30px;')
                                            img(src='assets/images/list-icon.png', style=' margin-left: 10px; ')
                                        td
                                            span.text-small.block.text-light.table-heading Control Reports
                                            span.table-subheading Monthly
                                        td.text-right
                                            .cl-effect-13
                                                a(data-v-8efb31ec='', href='', style=' color: #a6c367; ') view more
                                    tr
                                        td(style='text-align: left;width: 30px;')
                                            img(src='assets/images/list-icon.png', style=' margin-left: 10px; ')
                                        td
                                            span.text-small.block.text-light.table-heading Control Reports
                                            span.table-subheading Monthly
                                        td.text-right
                                            .cl-effect-13
                                                a(data-v-8efb31ec='', href='', style=' color: #a6c367; ') view more
    .container-fluid.container-fullw.bg-offwhite
        .row
            .col-xs-12.col-sm-12.col-md-6.col-lg-6
                .panel.panel-white.no-radius
                    .panel-heading.border-bottom.border-blue
                        h4.panel-title Calander
                    .panel-body.no-padding
                        #full-calendar
                    .panel-footer.padding-10.partition-white
                        .list-inline
                            li
                                i.circle-20(style="background: #f5b620; float: left; margin-right: 5px;")
                                h5(style="float: left;line-height: 22px;margin-bottom: 0px;text-transform: uppercase;color: #b3b3b3;font-size: 12px;") Meeting
                            li
                                i.circle-20(style="background: #a6c367; float: left; margin-right: 5px;")
                                h5(style="float: left;line-height: 22px;margin-bottom: 0px;text-transform: uppercase;color: #b3b3b3;font-size: 12px;") Reminder
                            li(style="float: left; margin-right: 5px;")
                                i.circle-20(style="background: #e8534f; float: left; margin-right: 5px;")
                                h5(style="float: left;line-height: 22px;margin-bottom: 0px;text-transform: uppercase;color: #b3b3b3;font-size: 12px;") Event
            .col-xs-12.col-sm-12.col-md-6.col-lg-6
                .panel.panel-white.no-radius
                    .panel-heading.border-bottom.border-green
                        h4.panel-title Calculator
                    .panel-body
                        img(src="/assets/images/calculator.png")
