#sidebar.sidebar.app-aside
    .sidebar-container.perfect-scrollbar
        nav
            .search-form.ng-scope
                a.s-open(href='#')
                    i.ti-search
                form.navbar-form.ng-pristine.ng-valid(role='search')
                    a.s-remove(href='#', target='.navbar-form')
                        i.ti-close
                    .form-group
                        input.form-control(type='text', placeholder='Search...')
                        button.btn.search-button(type='submit')
                            i.ti-search
            .navbar-title
                span Main Navigation
            ul.main-navigation-menu
                li.active
                    router-link(to='/')
                        .item-content
                            .item-media
                                i.ti-home
                            .item-inner
                                span.title Dashboard
                li
                    a(href='javascript:void(0)')
                        .item-content
                            .item-media
                                img.icon-media(src='assets/images/icons/masterFiles.png')
                            .item-inner
                                span.title Master Files
                                i.icon-arrow
                    ul.sub-menu
                        li
                            a(href='javascript:;')
                                span Chart of Accounts
                                i.icon-arrow
                            ul.sub-menu
                                li
                                    router-link(to='/create_control') Control
                                li
                                    router-link(to='/create_sub_control') Sub Control
                                li
                                    router-link(to='/create_subsidiary') Subsidiary
                        li
                            router-link(to='/master_details')
                                span Master Detail
                li
                    a(href='javascript:void(0)')
                        .item-content
                            .item-media
                                img.icon-media(src='assets/images/icons/masterListings.png')
                            .item-inner
                                span.title Master Listing
                                i.icon-arrow
                    ul.sub-menu
                        li
                            a(href='javascript:;')
                                span List: Chart of Accounts
                                i.icon-arrow
                            ul.sub-menu
                                li
                                    router-link(to='/listing_control') Control
                                li
                                    router-link(to='/listing_sub_control') Sub Control
                                li
                                    router-link(to='/listing_subsidiary') Subsidiary
                li
                    a(href='javascript:void(0)')
                        .item-content
                            .item-media
                                img.icon-media(src='assets/images/icons/transaction.png')
                            .item-inner
                                span.title Transaction Files
                                i.icon-arrow
                    ul.sub-menu
                        li
                            router-link(to='/journal_voucher')
                                span Journal Voucher
                li
                    a(href='javascript:void(0)')
                        .item-content
                            .item-media
                                img.icon-media(src='assets/images/icons/process.png')
                            .item-inner
                                span.title Process
                                i.icon-arrow
                    ul.sub-menu
                        li
                            router-link(to='/post_unpost')
                                span Post/Unpost
                li
                    a(href='javascript:void(0)')
                        .item-content
                            .item-media
                                img.icon-media(src='assets/images/icons/reports.png')
                            .item-inner
                                span.title M.I.S Reports
                                i.icon-arrow
                    ul.sub-menu
                        li
                            a(href='javascript:void(0)')
                                span Details Ledger
                                i.icon-arrow
                            ul.sub-menu
                                li
                                    a(href='#') Control
                                li
                                    a(href='#') Sub Control
                                li
                                    a(href='#') Subsidiary
                        li
                            a(href='javascript:void(0)')
                                span Balance Sheet
                li
                    a(href='javascript:void(0)')
                        .item-content
                            .item-media
                                img.icon-media(src='assets/images/icons/user.png')
                            .item-inner
                                span.title User Control
                                i.icon-arrow
                    ul.sub-menu
                        li
                            router-link(to='/create_new_user')
                                span Create New User
                li
                    a(href='javascript:void(0)')
                        .item-content
                            .item-media
                                img.icon-media(src='assets/images/icons/logout.png')
                            .item-inner
                                span.title(v-on:click.prevent='logout') Logout
