.modal.fade.modal-aside.center(tabindex='-1' id="download-pdf" role='dialog', aria-labelledby='Full Calendar', aria-hidden='true')
    .modal-dialog.modal-dialog.modal-lg
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h4#myModalLabel.modal-title Calculator
            .modal-body
                .row
                    .col-xs-12.col-sm-12.col-md-12.col-lg-12
