#container.wrap-content.container
    section#page-title
        .row
            .col-sm-8
                h1.mainTitle Master Files
                span.mainDescription Chart of Accounts
            ol.breadcrumb
                li
                    span Master Files
                li
                    span Chart of Accounts
                li.active
                    span Subsidiary
    .container-fluid.container-fullw.bg-white
        .row
            .col-md-12
                .text-right.margin-bottom-15
                    a.btn.btn-primary(href='#', data-toggle='modal', data-target='#add_control') Add New Control
                    a.btn.btn-primary.mar-lf-10(href='#', data-toggle='modal', data-target='#add_sub_control') Add New Sub Control
                    a.btn.btn-primary.mar-lf-10(href='#', data-toggle='modal', data-target='#add_subsidiary') Add New Subsidiary
                .row
                    .col-md-6
                        h2 Subsidiary
                        p
                            | Create one Subsidiary.
                    .col-md-6
                        button.btn.btn-primary.btn-o.pull-right(onclick="window.location.href='partyinformation.html'")
                            | Add Party Information
                hr
                form(v-on:submit.prevent="addSubsEntry")
                    .row
                        .col-md-12
                            p.alert.alert-danger(v-if="errMain !== ''") {{ errMain }}
                            p.alert.alert-success(v-if="sucMain !== ''") {{ sucMain }}
                        .col-md-12
                            .form-group
                                label.control-label
                                    | Project
                                    span.symbol.required(aria-required='true')
                                .row
                                    .col-md-10(v-if='dataLoad1')
                                        div.text-center
                                            i.fa.fa-refresh.fa-spin.fa-fw.fa-2x
                                    template(v-if='!dataLoad1')
                                        .col-md-3
                                            input.form-control(type='text' placeholder='ID of project' disabled='disabled' v-bind:value='getObjId(sel_project, proData)')
                                        .col-md-7
                                            select.form-control(v-model='sel_project')
                                                option(value='') Select Project
                                                option(v-for='(row, key, ind) in proData' v-bind:value='key') {{ row.name }}
                                            p.text-danger.text-right(v-if='validation.hasError("sel_project")') {{ validation.firstError('sel_project') }}
                                    .col-md-2.icon-container
                                        ul.ul-action
                                            li
                                                a(href='#' data-toggle='modal' data-target='#add_project')
                                                    i.ti-plus
                                            li
                                                a(href='#', data-toggle='modal', data-target='#add_project')
                                                    i.ti-pencil-alt
                            .form-group
                                label.control-label
                                    | Control
                                    span.symbol.required(aria-required='true')
                                .row
                                    .col-md-10(v-if='dataLoad2')
                                        div.text-center
                                            i.fa.fa-refresh.fa-spin.fa-fw.fa-2x
                                    template(v-if='!dataLoad2')
                                        .col-md-3
                                            input.form-control(type='text' placeholder='ID of Control number' disabled='disabled' v-bind:value='getObjId(sel_control, controlData)')
                                        .col-md-7
                                            select.form-control(v-model='sel_control')
                                                option(value='') Select Control
                                                option(v-for='(row, key, ind) in controlData' v-bind:value='key') {{ row.name }}
                                            p.text-danger.text-right(v-if='validation.hasError("sel_control")') {{ validation.firstError('sel_control') }}
                                    .col-md-2.icon-container
                                        ul.ul-action
                                            li
                                                a(href='#' data-toggle='modal' data-target='#proj_sel_control')
                                                    i.ti-plus
                            .form-group
                                label.control-label
                                    | Sub Control
                                    span.symbol.required(aria-required='true')
                                .row
                                    .col-md-10(v-if='dataLoad3')
                                        div.text-center
                                            i.fa.fa-refresh.fa-spin.fa-fw.fa-2x
                                    template(v-if='!dataLoad3')
                                        .col-md-3
                                            input.form-control(type='text', placeholder='ID of Sub Control number', disabled='' v-bind:value='getObjId(sel_sub_control, subControlData)')
                                        .col-md-7
                                            select.form-control(v-model='sel_sub_control')
                                                option(value='') Select Sub Control
                                                option(v-for='(row, key, ind) in subControlData' v-bind:value='key') {{ row.name }}
                                            p.text-danger.text-right(v-if='validation.hasError("sel_sub_control")') {{ validation.firstError('sel_sub_control') }}
                                    .col-md-2.icon-container
                                        ul.ul-action
                                            li
                                                a(href='#', data-toggle='modal', data-target='#proj_sel_sub_control')
                                                    i.ti-plus
                            .form-group
                                label.control-label
                                    | Subsidiary
                                    span.symbol.required(aria-required='true')
                                .row
                                    .col-md-10(v-if='dataLoad4')
                                        div.text-center
                                            i.fa.fa-refresh.fa-spin.fa-fw.fa-2x
                                    template(v-if='!dataLoad4')
                                        .col-md-3
                                            input.form-control(type='text', placeholder='ID of Subsidiary number', disabled='' v-bind:value='getObjId(sel_subsidiary, subsData)')
                                        .col-md-7
                                            select.form-control(v-model='sel_subsidiary')
                                                option(value='') Select Subsidiary
                                                option(v-for='(row, key, ind) in subsData' v-bind:value='key') {{ row.name }}
                                            p.text-danger.text-right(v-if='validation.hasError("sel_subsidiary")') {{ validation.firstError('sel_subsidiary') }}
                                    .col-md-2.icon-container
                                        ul.ul-action
                                            li
                                                a(href='#', data-toggle='modal', data-target='#proj_sel_subs')
                                                    i.ti-plus
                    .row(v-if='dataLoad5')
                        .col-md-6
                            div.text-center
                                i.fa.fa-refresh.fa-spin.fa-fw.fa-2x
                    template(v-else)
                        .row
                            .col-md-3
                                .form-group
                                    label.control-label
                                        | Party Select
                                        span.symbol.required(aria-required='true')
                                    select#control_name.form-control(name='party_id')
                                        option(value='') Select Party
                            .col-md-3
                                .form-group
                                    label.control-label
                                        | Bill Type
                                        span.symbol.required(aria-required='true')
                                    div.text-center(v-if='dataLoad6')
                                        i.fa.fa-refresh.fa-spin.fa-fw.fa-2x
                                    template(v-else)
                                        select.form-control(v-model='bill_type')
                                            option(value='') Select Bill Type
                                            option(v-for='(row, key, ind) in billTypesData' v-bind:value='key') {{ row.name }}
                                        p.text-danger.text-right(v-if='validation.hasError("bill_type")') {{ validation.firstError('bill_type') }}
                        .row
                            .col-md-3
                                .form-group
                                    label.control-label
                                        | Open Debit
                                        span.symbol.required(aria-required='true')
                                    input.form-control(type='text' v-model='debit')
                                    p.text-danger.text-right(v-if='validation.hasError("debit")') {{ validation.firstError('debit') }}
                            .col-md-3
                                .form-group
                                    label.control-label
                                        | Open Credit
                                        span.symbol.required(aria-required='true')
                                    input.form-control(type='text' v-model='credit')
                                    p.text-danger.text-right(v-if='validation.hasError("credit")') {{ validation.firstError('credit') }}
                    .row
                        .col-md-4.pull-right
                            button.btn.btn-lg.btn-primary.btn-wide.pull-right(type='submit' v-if="!inProcess && !dataLoad5")
                                | Submit&nbsp;
                                i.fa.fa-arrow-circle-right
                            button.btn.btn-lg.btn-primary.btn-wide.pull-right(type='button' disabled='disabled' v-if="inProcess || dataLoad5")
                                i.fa.fa-refresh.fa-spin.fa-fw
    add-project-modal
    pro-sel-control-modal
    pro-sel-sub-control-modal
    pro-sel-subs-modal
    add-control-modal
    add-sub-control-modal
    add-subsidiary-modal
