footer
    .footer-inner
        .pull-left
            | ©
            span.current-year
            a(href='http://focusme360.com')
                span.text-bold.text-uppercase  FocusMedia360°
            | .
            span All rights reserved
        .pull-right
            span.go-top
                i.ti-angle-up
