footer
    .footer-inner
        .pull-left
            | Copyright © 
            span.current-year
            | .
            span  All rights reserved by
            a(href='http://focusme360.com')
                span.text-bold.text-uppercase  FocusMedia360°
        .pull-right
            span.go-top
                i.ti-angle-up
