#container.wrap-content.container
    section#page-title
        .row
            .col-xs-12.col-sm-12.col-md-8.col-lg-8
                h1.mainTitle Process
                span.mainDescription Post/Un Post
            ol.breadcrumb
                li
                    span Process
                li.active
                    span Post/Un Post
    .container-fluid.container-fullw.bg-offwhite
        .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                .panel.panel-white.no-radius
                    .panel-heading.border-bottom.border-left.border-yellow.no-padding.no-line-height.no-min-height
                        h4.panel-title.pull-left.padding-15 Post/Un Post
                    .panel-body
                        div.text-center(v-if='dataLoad1')
                            i.fa.fa-refresh.fa-spin.fa-fw.fa-3x
                        .table-responsive(v-else)
                            table.table.table-striped.table-hover
                                thead
                                    tr
                                        th Voucher ID
                                        th Voucher Type
                                        th Reference
                                        th Project
                                        th Voucher Date
                                        th Post/Unpost
                                tbody
                                    tr(v-for='(row, key, ind) in vouchersData')
                                        td {{ row.id }}
                                        td {{ (row.type === "md")? "Customer Details":"Journal Voucher" }}
                                        td {{ row.ref_gen }}
                                        td {{ row.project }}
                                        td {{ (row.type === "md")? formatDate(new Date(row.booking_date)):formatDate(new Date(row.voucher_date)) }}
                                        td.icon-container
                                            button.btn.btn-danger(v-if='row.posted_status === "Yes"' v-on:click="deactive(key)") UnPost
                                            button.btn.btn-success(v-else v-on:click="active(key)") Post
