div
    sidebar
    div.app-content
        header_com
        .main-content
            .alertsbar
                strong Oh snap!
                |  Indicates a successful or positive action.
            router-view
    footer_com
