div
    sidebar
    div.app-content
        header_com
        .main-content
            .alertsbar
                strong Keen Developments:
                |  You are logged in as an Administrator.
            router-view
    footer_com
