.modal.fade.modal-aside.horizontal.right.add-control(tabindex='-1' id="add_broker" role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
    .modal-dialog.modal-dialog.modal-sm
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h4#myModalLabel.modal-title Add Broker
            .modal-body
                form(v-on:submit.prevent='addBroker')
                    .form-group
                        p.alert.alert-danger(v-if="errMain !== ''") {{ errMain }}
                        p.alert.alert-success(v-if="sucMain !== ''") {{ sucMain }}
                        .row.margin-bottom-10
                            .col-md-12
                                label Name
                                input.form-control(type='text', placeholder='Name' v-model="name")
                                p.text-danger.text-right(v-if='validation.hasError("name")') {{ validation.firstError('name') }}
                            .col-md-12
                                label Email
                                input.form-control(type='text', placeholder='Email' v-model="email")
                                p.text-danger.text-right(v-if='validation.hasError("email")') {{ validation.firstError('email') }}
                                .text-right(v-if='validation.isValidating("email")')
                                    i.fa.fa-spinner.fa-spin
                            .col-md-12
                                label Contact Number
                                input.form-control(type='text', placeholder='Contact Number' v-model="cont_number")
                                p.text-danger.text-right(v-if='validation.hasError("cont_number")') {{ validation.firstError('cont_number') }}
                                .text-right(v-if='validation.isValidating("cont_number")')
                                    i.fa.fa-spinner.fa-spin
                    button.btn.btn-primary(type='submit' v-if="!inProcess")
                        | Save
                    button.btn.btn-primary.pull-right.btn-o(type='button', data-dismiss='modal')
                        | Cancel
                    button.btn.btn-primary.mar-lf-10(type='button' disabled='disabled' v-if="inProcess")
                        i.fa.fa-refresh.fa-spin.fa-fw