div
    input.form-control.typeahead(
        type='text'
        autocomplete='off'
        v-model='query'
        v-on:keydown='checkPro'
        v-on:keydown.down='down'
        v-on:keydown.up='up'
        v-on:keydown.enter='hit'
        v-on:keydown.esc='reset'
        v-on:blur='blur_reset'
        )
    ul(v-show='items && items.length > 0 && hasFocus')
        li(v-for='(item, $item) in items' v-bind:class='activeClass($item)' v-on:mousedown='hit' v-on:mousemove='setActive($item)')
            span.name(v-text='item.name')
            //span.des(v-text='item.description')