.row
    .lock-screen
        .box-ls
            img.img-rounded(alt='', src='assets/images/avatar-1-xl.jpg')
            .user-info
                h4 Peter Clark
                span peter@example.com
                form
                    .input-group
                        input.form-control(type='password', placeholder='Password to unlock')
                        i.fa.fa-lock
                        span.input-group-btn
                            button.btn.btn-primary(type='submit')
                                i.fa.fa-chevron-right
