#container.wrap-content.container
    section#page-title
        .row
            .col-sm-8
                h1.mainTitle Master Files
                span.mainDescription Chart of Accounts
            ol.breadcrumb
                li
                    span Master Files
                li
                    span Chart of Accounts
                li.active
                    span Control
    .container-fluid.container-fullw.bg-white
        .row
            .col-md-12
                h2 Control
                p
                    | Create one control.
                hr
                form#form(v-on:submit.prevent="")
                    .row
                        .col-md-12
                            .errorHandler.alert.alert-danger.no-display
                                i.fa.fa-times-sign
                                |  You have some form errors. Please check below.
                            .successHandler.alert.alert-success.no-display
                                i.fa.fa-ok
                                |  Your form validation is successful!
                        .col-md-12
                            .form-group
                                label.control-label
                                    | Project
                                    span.symbol.required(aria-required='true')
                                .row
                                    .col-md-10(v-if='dataLoad1')
                                        div.text-center
                                            i.fa.fa-refresh.fa-spin.fa-fw.fa-2x
                                    template(v-if='!dataLoad1')
                                        .col-md-3
                                            input.form-control(type='text' placeholder='ID of project' disabled='disabled' v-bind:value='getObjId(sel_project, proData)')
                                        .col-md-7
                                            select.form-control(v-model='sel_project')
                                                option(value='') Select Project
                                                option(v-for='(row, key, ind) in proData' v-bind:value='key') {{ row.name }}
                                            p.text-danger.text-right(v-if='validation.hasError("sel_project")') {{ validation.firstError('sel_project') }}
                                    .col-md-2.icon-container
                                        ul.ul-action
                                            li
                                                a(href='#', data-toggle='modal', data-target='#add_project')
                                                    i.ti-plus
                                            li
                                                a.edit-project(href='#', data-toggle='modal', data-target='.edit-project')
                                                    i.ti-pencil-alt
                            .form-group
                                label.control-label
                                    | Control
                                    span.symbol.required(aria-required='true')
                                .row
                                    .col-md-10(v-if='dataLoad2')
                                        div.text-center
                                            i.fa.fa-refresh.fa-spin.fa-fw.fa-2x
                                    template(v-if='!dataLoad2')
                                        .col-md-3
                                            input.form-control(type='text' placeholder='ID of Control number' disabled='disabled' v-bind:value='getObjId(sel_control, controlData)')
                                        .col-md-7
                                            select.form-control(v-model='sel_control')
                                                option(value='') Select Control
                                                option(v-for='(row, key, ind) in controlData' v-bind:value='key') {{ row.name }}
                                            p.text-danger.text-right(v-if='validation.hasError("sel_control")') {{ validation.firstError('sel_control') }}
                                    .col-md-2.icon-container
                                        ul.ul-action
                                            li
                                                a(href='#', data-toggle='modal', data-target='#add_control')
                                                    i.ti-plus
                                            li
                                                a.edit-project(href='#', data-toggle='modal', data-target='.edit-control')
                                                    i.ti-pencil-alt
                    .row
                        .col-md-3
                            .form-group
                                label.control-label
                                    | Open Debit
                                    span.symbol.required(aria-required='true')
                                input.form-control(type='text' v-bind:value="getObjKeyVal(sel_control, controlData, 'debit')" disabled='disabled')
                    .row
                        .col-md-3
                            .form-group
                                label.control-label
                                    | Open Credit
                                    span.symbol.required(aria-required='true')
                                input.form-control(type='text' v-bind:value="getObjKeyVal(sel_control, controlData, 'credit')" disabled='disabled')
                    .row
                        .col-md-4.pull-right
                            button.btn.btn-lg.btn-primary.btn-wide.pull-right(type='submit')
                                | Submit
                                i.fa.fa-arrow-circle-right
    add-project-modal
    add-control-modal
