#container.wrap-content.container
    section#page-title
        .row
            .col-sm-8
                h1.mainTitle Master Files
                span.mainDescription Chart of Accounts
            ol.breadcrumb
                li
                    span Master Files
                li
                    span Chart of Accounts
                li.active
                    span Control
    .container-fluid.container-fullw.bg-offwhite
        form#form(v-on:submit.prevent='updateContEntry')
            .row
                .col-md-12
                    .panel.panel-white.no-radius
                        .panel-heading.border-bottom.border-left.border-yellow.no-padding.no-line-height.no-min-height
                            h4.panel-title.pull-left.padding-15 Daily Reports
                            .text-right
                                a.btn.btn-tabbutton(href='#', data-toggle='modal', data-target='#add_control')
                                    img.tab-icon(src='assets/images/icons/tabicon1.png')
                                    | Add New Control
                                a.btn.btn-tabbutton(href='#', data-toggle='modal', data-target='#add_sub_control')
                                    img.tab-icon(src='assets/images/icons/tabicon2.png')
                                    | Add New Sub Control
                                a.btn.btn-tabbutton(href='#', data-toggle='modal', data-target='#add_subsidiary')
                                    img.tab-icon(src='assets/images/icons/tabicon3.png')
                                    | Add New Subsidiary
                        .panel-body
                            .row
                                .col-md-12
                                    p.alert.alert-danger(v-if="errMain !== ''") {{ errMain }}
                                    p.alert.alert-success(v-if="sucMain !== ''") {{ sucMain }}
                                .col-md-12
                                    .form-group
                                        .row
                                            .col-md-10(v-if='dataLoad1')
                                                .text-center
                                                    i.fa.fa-refresh.fa-spin.fa-fw.fa-2x
                                            template(v-if='!dataLoad1')
                                                .col-md-3
                                                    input.form-control(type='text', placeholder='ID of project', disabled='disabled', v-bind:value='getObjId(sel_project, proData)')
                                                .col-md-7
                                                    select.form-control(v-model='sel_project')
                                                        option(value='') Select Project
                                                        option(v-for='(row, key, ind) in proData', v-bind:value='key') {{ row.name }}
                                                    p.text-danger.text-right(v-if='validation.hasError("sel_project")') {{ validation.firstError('sel_project') }}
                                            .col-md-2.icon-container
                                                ul.ul-action
                                                    li(v-if="sel_project === ''")
                                                        a.btn.btn-nobackground(href='#', data-toggle='modal', data-target='#add_project')
                                                            i.ti-plus
                                                    li(v-if="sel_project !== ''")
                                                        a.btn.btn-nobackground(href='#', data-toggle='modal', data-target='#add_project')
                                                            span(style='color:#545454;margin-right:5px;') Edit
                                                            i.ti-pencil
                                    .form-group
                                        .row
                                            .col-md-10(v-if='dataLoad2')
                                                .text-center
                                                    i.fa.fa-refresh.fa-spin.fa-fw.fa-2x
                                            template(v-if='!dataLoad2')
                                                .col-md-3
                                                    input.form-control(type='text', placeholder='ID of Control number', disabled='disabled', v-bind:value='(sel_control !== "") ? ("00"+getObjId(sel_control, controlData)).slice(-3):""')
                                                .col-md-7
                                                    select.form-control(v-model='sel_control')
                                                        option(value='') Select Control
                                                        option(v-for='(row, key, ind) in controlData', v-bind:value='key') {{ row.name }}
                                                    p.text-danger.text-right(v-if='validation.hasError("sel_control")') {{ validation.firstError('sel_control') }}
                                            .col-md-2.icon-container(v-if="sel_control === ''")
                                                ul.ul-action
                                                    li
                                                        a.btn.btn-nobackground(href='#', data-toggle='modal', data-target='#proj_sel_control')
                                                            i.ti-plus
                            template(v-if='dataLoad3')
                                .row
                                    .col-md-3
                                        .text-center
                                            i.fa.fa-refresh.fa-spin.fa-fw.fa-2x
                            template(v-if='!dataLoad3 && sel_control !== ""')
                                .row
                                    .col-md-3
                                        .form-group
                                            label.control-label
                                                | Open Debit
                                                span.symbol.required(aria-required='true')
                                            input.form-control(type='text', v-model='debit')
                                            p.text-danger.text-right(v-if='validation.hasError("debit")') {{ validation.firstError('debit') }}
                                .row
                                    .col-md-3
                                        .form-group
                                            label.control-label
                                                | Open Credit
                                                span.symbol.required(aria-required='true')
                                            input.form-control(type='text', v-model='credit')
                                            p.text-danger.text-right(v-if='validation.hasError("credit")') {{ validation.firstError('credit') }}
                                .row
                                    .col-md-4.pull-left
                                        button.btn.btn-lg.btn-primary.btn-wide.pull-left(type='submit', v-if='!inProcess && !dataLoad3') Update
                                        button.btn.btn-lg.btn-primary.btn-wide.pull-left(type='button', disabled='disabled', v-if='inProcess || dataLoad3')
                                            i.fa.fa-refresh.fa-spin.fa-fw
    add-project-modal(v-bind:sel_project="sel_project")
    pro-sel-control-modal
    add-control-modal
    add-sub-control-modal
    add-subsidiary-modal
