#container.wrap-content.container
    section#page-title
        .row
            .col-sm-8
                h1.mainTitle User Control
                span.mainDescription Profile
            ol.breadcrumb
                li
                    span User Control
                li.active
                    span Profile
    .container-fluid.container-fullw.bg-white.create-user
        form
            fieldset
                legend(style=' left: 3%; ')
                    | Account Info
                .row
                    .col-md-12(v-if='errMain !== "" || sucMain !== ""')
                        p.alert.alert-danger(v-if="errMain !== ''") {{ errMain }}
                        p.alert.alert-success(v-if="sucMain !== ''") {{ sucMain }}
                    .col-md-6
                        .form-group
                            label.control-label
                                | First Name
                            input.form-control(type='text', placeholder='Peter' v-model='first_name')
                            p.text-danger.text-right(v-if='validation.hasError("first_name")') {{ validation.firstError('first_name') }}
                        .form-group
                            label.control-label
                                | Last Name
                            input.form-control(type='text', placeholder='Clark' v-model='last_name')
                            p.text-danger.text-right(v-if='validation.hasError("last_name")') {{ validation.firstError('last_name') }}
                        .form-group
                            label.control-label
                                | Email Address
                            input.form-control(type='email', placeholder='peter@example.com' v-model='email')
                            p.text-danger.text-right(v-if='validation.hasError("email")') {{ validation.firstError('email') }}
                            .text-right(v-if='validation.isValidating("email")')
                                i.fa.fa-spinner.fa-spin
                        .form-group
                            label.control-label
                                | Phone/Mobile
                            input.form-control.input-mask-phone(type='text', placeholder='Phone/Mobile' v-model='mob_num')
                            p.text-danger.text-right(v-if='validation.hasError("mob_num")') {{ validation.firstError('mob_num') }}
                        .form-group
                            label.control-label
                                | Password
                            input.form-control(type='password', placeholder='Password' v-model='password')
                            p.text-danger.text-right(v-if='validation.hasError("password")') {{ validation.firstError('password') }}
                        .form-group
                            label.control-label
                                | Confirm Password
                            input.form-control(type='password', placeholder='Re-Type Password' v-model='retype_password')
                            p.text-danger.text-right(v-if='validation.hasError("retype_password")') {{ validation.firstError('retype_password') }}
                    .col-md-6
                        .form-group
                            label.control-label
                                | Gender
                            .clip-radio.radio-primary
                                input#us-female(type='radio', value='Female', v-model='gender')
                                label(for='us-female')
                                    | Female
                                input#us-male(type='radio', value='Male', v-model='gender')
                                label(for='us-male')
                                    | Male
                                p.text-danger.text-right(v-if='validation.hasError("gender")') {{ validation.firstError('gender') }}
                        .form-group
                            label
                                | Project
                            .clip-radio.radio-primary
                                input#pro_sel(type='radio', value='Select', v-model='pro_sel_type')
                                label(for='pro_sel')
                                    | Select Project
                                input#pro_all(type='radio', value='All', v-model='pro_sel_type')
                                label(for='pro_all')
                                    | All Project
                            template(v-if='pro_sel_type === "Select"')
                                div.text-center(v-if='dataLoad1')
                                    i.fa.fa-refresh.fa-spin.fa-fw.fa-2x
                                template(v-else)
                                    select.form-control(v-model='sel_project' multiple)
                                        option(v-for='(row, key, ind) in proData' v-bind:value='key') {{ row.name }}
                                    p.text-danger.text-right(v-if='validation.hasError("sel_project")') {{ validation.firstError('sel_project') }}
                        .row
                            .col-md-4
                                .form-group
                                    label.control-label
                                        | Zip Code
                                    input.form-control(placeholder='123456', type='text', v-model='zipcode')
                                    p.text-danger.text-right(v-if='validation.hasError("zipcode")') {{ validation.firstError('zipcode') }}
                            .col-md-8
                                com_cities(ref='sel_city')
                        .form-group
                            label
                                | Image Upload
                            .fileinput.fileinput-new(data-provides='fileinput')
                                .fileinput-new.thumbnail
                                    img(src='/assets/images/default-user.png', alt='')
                                .user-edit-image-buttons
                                    span.btn.btn-azure.btn-file
                                        span.fileinput-new
                                            i.fa.fa-picture
                                            |  Select image
                                        input(type='file')
            .row
                .col-md-8
                .col-md-4
                    button.btn.btn-primary.pull-right(v-if="inProcess" type='button' disabled='disabled')
                        i.fa.fa-refresh.fa-spin.fa-fw
                    button.btn.btn-primary.pull-right(v-else type='button' v-on:click.prevent='createUser')
                        | Submit&nbsp;
                        i.fa.fa-arrow-circle-right
        hr
        .container-fluid.container-fullw.create-user
            .row
                .col-md-12
                    .table-responsive
                        div.text-center(v-if='dataLoad2')
                            i.fa.fa-refresh.fa-spin.fa-fw.fa-3x
                        table#sample_2.table.table-striped.table-hover(v-else)
                            thead
                                tr
                                    th Full Name
                                    th Email
                                    th City
                                    th Phone
                                    th Edit
                                    th Action
                            tbody
                                tr(v-for='(row, key, ind) in userData')
                                    td {{ row.first_name }} {{ row.last_name }}
                                    td {{ row.email }}
                                    td {{ row.city }}
                                    td {{ row.mob_num }}
                                    td
                                        a.edit-row(href='#')
                                            | Edit
                                    td
                                        button.btn.btn-small.btn-success(v-if='!row.act_status' v-on:click='active(key)')
                                            | Activate
                                        button.btn.btn-small.btn-danger(v-else v-on:click='deactive(key)')
                                            | Deactivate

