doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        title FocusMedia360° - Management | Controls Listing

    body
        div(style='font-family: Verdana, Arial, Helvetica,sans-serif; font-size: 12px; text-align: center; color: #8c8c8c; margin: 0px; background-color: #f6f6f6; padding: 80px;')
            table(style='font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; text-align: justify; color: #8c8c8c; margin: auto; width: 680px;', border='0', cellspacing='0', cellpadding='0', align='center')
                tbody
                    tr(style='line-height: 0px; background-color: #fff; float: left; width: 100%; padding: 0px; margin: 0 auto;')
                        td(style='background-color: #fff; padding: 20px 0;', width='40')
                        td(style='text-align: left; background-color: #fff; padding: 20px 0;', width='600')
                            img(style='float: left; margin-right: 10px; width: 200px; max-width: 200px; padding-top: 20px;', src='http://45.55.84.192/assets/images/fms.png', alt='FMS', width='200', align='left', hspace='5')
                            img(style='float: right; margin-left: 10px;', src='http://45.55.84.192/assets/images/account-update.png', alt='FMS', align='right', hspace='5')
                        td(style='background-color: #fff; padding: 20px 0;', width='40')
                    tr(style='background-color: #ebebeb; float: left; width: 100%; padding: 0px; margin: 0 auto;')
                        td(style='background-color: #ebebeb; padding: 30px 0;', width='40')
                        td(style='text-align: left; background-color: #ebebeb; padding: 30px 0; line-height: 30px;', width='600')
                            h3(style='color: #6d6d6d; font-size: 21px; font-weight: normal; text-align: left; margin: 0px; padding-bottom: 5px; border-bottom: 1px solid#bdbdbd; margin-top: 0; border: 0px; margin-bottom: 25px; font-family: sans-serif;') Welcome to FocusMedia360° FMS
                            p(style='font-family: sans-serif; font-size: 16px; text-align: justify; color: #6d6d6d; margin: 0px; margin-bottom: 25px; font-weight: normal;') Good day #{username},
                            p(style='font-family: sans-serif; font-size: 16px; text-align: justify; color: #6d6d6d; margin: 0px; margin-bottom: 25px; font-weight: normal;')
                                | Congratulations! Keen Development have promoted you as an accountant! Your account can be used for viewing, adding, editing the vouchers, controls, subcontrols and subsidiaries.
                            p(style='font-family: sans-serif; font-size: 16px; text-align: justify; color: #6d6d6d; margin: 0px; margin-bottom: 25px; font-weight: normal;')
                                | Your account details are:
                                br
                                span(style='color: #e85450;') Link: http://45.55.84.192:3000/login
                                br
                                | Email: #{email}
                                br
                                | Password: #{password}
                            p(style='font-family: sans-serif; font-size: 16px; text-align: justify; color: #6d6d6d; margin: 0px; margin-bottom: 25px; font-weight: normal;') For further queries, contact your administrator.
                            p(style='font-family: sans-serif; font-size: 16px; text-align: justify; color: #6d6d6d; margin: 0px; margin-bottom: 0; font-weight: normal;')
                                | Regards,
                                br
                                | FocusMedia360°
                        td(style='background-color: #ebebeb; padding: 30px 0;', colspan='0', rowspan='0', width='40')

