doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        title FocusMedia360° - Management | Controls Listing

    body
        p Forgot your Password?

        p Hey #{name},

        p We've received a request to reset your password. Your new password has been reset and the details are as follows:
        p Email: #{email}
        p Password: #{password}

        p If you don't want to reset your password, please ignore this message.
        p For general inquiries please contact us on the following email address: support@focusme360.com.

        p Regards,
        p FocusMedia360