doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        title FocusMedia360° - Management | Payment Plan

        link(rel='apple-touch-icon', sizes='57x57', href='/assets/images/favicon/apple-icon-57x57.png')
        link(rel='apple-touch-icon', sizes='60x60', href='/assets/images/favicon/apple-icon-60x60.png')
        link(rel='apple-touch-icon', sizes='72x72', href='/assets/images/favicon/apple-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='76x76', href='/assets/images/favicon/apple-icon-76x76.png')
        link(rel='apple-touch-icon', sizes='114x114', href='/assets/images/favicon/apple-icon-114x114.png')
        link(rel='apple-touch-icon', sizes='120x120', href='/assets/images/favicon/apple-icon-120x120.png')
        link(rel='apple-touch-icon', sizes='144x144', href='/assets/images/favicon/apple-icon-144x144.png')
        link(rel='apple-touch-icon', sizes='152x152', href='/assets/images/favicon/apple-icon-152x152.png')
        link(rel='apple-touch-icon', sizes='180x180', href='/assets/images/favicon/apple-icon-180x180.png')
        link(rel='icon', type='image/png', sizes='192x192', href='/assets/images/favicon/android-icon-192x192.png')
        link(rel='icon', type='image/png', sizes='32x32', href='/assets/images/favicon/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='96x96', href='/assets/images/favicon/favicon-96x96.png')
        link(rel='icon', type='image/png', sizes='16x16', href='/assets/images/favicon/favicon-16x16.png')
        link(rel='manifest', href='/manifest.json')
        meta(name='msapplication-TileColor', content='#ffffff')
        meta(name='msapplication-TileImage', content='/assets/images/favicon/ms-icon-144x144.png')
        meta(name='theme-color', content='#ffffff')

        meta(http-equiv='X-UA-Compatible', content='IE=edge,IE=9,IE=8,chrome=1')
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='black')
        meta(content='', name='description')
        meta(content='', name='author')

        link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/vendor/fontawesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='/vendor/themify-icons/themify-icons.min.css')
        link(href='/vendor/animate.css/animate.min.css', rel='stylesheet', media='screen')
        link(href='/vendor/perfect-scrollbar/perfect-scrollbar.min.css', rel='stylesheet', media='screen')
        link(href='/vendor/switchery/switchery.min.css', rel='stylesheet', media='screen')

        link(rel='stylesheet', href='/assets/css/responsive.css')
        link(rel='stylesheet', href='/assets/css/styles.css')
        link(rel='stylesheet', href='/assets/css/plugins.css')
        link#skin_color(rel='stylesheet', href='/assets/css/themes/theme-1.css')
        link(href='/vendor/jquery-ui/jquery-ui-1.10.1.custom.min.css', rel='stylesheet', media='screen')
        link(href='/assets/css/bootstrap-datepicker.min.css', rel='stylesheet', media='screen')

    body.detailreports
        .bg-offwhite
            #container.wrap-content.container-fluid
                section#page-title
                    .row
                        .col-md-2.border-right(style='border-color: #aeaeae;')
                            img(src='/assets/images/logo.png', class="logo-image", style='width: 100%;max-width:230px;')
                        .col-sm-8
                            h1.mainTitle(style='font-size: 38.02px;') M.I.S REPORTS
                            span.mainDescription(style='font-size: 19px;color: #ec5d58;') DETAILED LEDGER
            .row.padding-30
                .col-md-12
                    .row.padding-30
                        .col-md-12
                            .row.padding-15.padding-top-0
                                .panel.panel-white.no-radius
                                    .panel-heading.border-bottom.border-left.border-yellow.no-padding.no-line-height.no-min-height
                                        h4.panel-title.pull-left.padding-15 ABC PROJECT - ISHTIAQ HUSSAIN PAYMENTS
                                    .panel-body.padding-30
                                        .row
                                            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                                h3.p_subheading Person Details
                                            .col-xs-12.col-sm-12.col-md-3.col-lg-3
                                                .form-group
                                                    .row
                                                        .col-xs-12.col-sm-4.col-md-4.col-lg-4
                                                            label Project
                                                        .col-xs-12.col-sm-8.col-md-8.col-lg-8
                                                            strong ABC Project
                                            .col-xs-12.col-sm-12.col-md-3.col-lg-3
                                                .form-group
                                                    .row
                                                        .col-xs-12.col-sm-4.col-md-4.col-lg-4
                                                            label Project Type
                                                        .col-xs-12.col-sm-8.col-md-8.col-lg-8
                                                            strong Housing Soceity Benglow
                                            .col-xs-12.col-sm-12.col-md-3.col-lg-3
                                                .form-group
                                                    .row
                                                        .col-xs-12.col-sm-4.col-md-4.col-lg-4
                                                            label Broker
                                                        .col-xs-12.col-sm-8.col-md-8.col-lg-8
                                                            strong Saqib
                                        .row
                                            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                                h3.p_subheading Allotee Details
                                        .row
                                            .col-xs-12.col-sm-12.col-md-3.col-lg-3
                                                .form-group
                                                    .row
                                                        .col-xs-12.col-sm-4.col-md-4.col-lg-4
                                                            label Allotee Code
                                                        .col-xs-12.col-sm-8.col-md-8.col-lg-8
                                                            strong 0921
                                            .col-xs-12.col-sm-12.col-md-3.col-lg-3
                                                .form-group
                                                    .row
                                                        .col-xs-12.col-sm-4.col-md-4.col-lg-4
                                                            label Allotee Name
                                                        .col-xs-12.col-sm-8.col-md-8.col-lg-8
                                                            strong Ishtiaq Hussain
                                            .col-xs-12.col-sm-12.col-md-3.col-lg-3
                                                .form-group
                                                    .row
                                                        .col-xs-12.col-sm-4.col-md-4.col-lg-4
                                                            label Contact No.
                                                        .col-xs-12.col-sm-8.col-md-8.col-lg-8
                                                            strong +92 335 213 4661
                                            .col-xs-12.col-sm-12.col-md-3.col-lg-3
                                                .form-group
                                                    .row
                                                        .col-xs-12.col-sm-4.col-md-4.col-lg-4
                                                            label E-Mail
                                                        .col-xs-12.col-sm-8.col-md-8.col-lg-8
                                                            strong abc@abc.com
                                        .row
                                            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                                h3.p_subheading Booking Details
                                        .row
                                            .col-xs-12.col-sm-12.col-md-3.col-lg-3
                                                .form-group
                                                    .row
                                                        .col-xs-12.col-sm-4.col-md-4.col-lg-4
                                                            label Document Year
                                                        .col-xs-12.col-sm-8.col-md-8.col-lg-8
                                                            strong 2017
                                            .col-xs-12.col-sm-12.col-md-3.col-lg-3
                                                .form-group
                                                    .row
                                                        .col-xs-12.col-sm-4.col-md-4.col-lg-4
                                                            label Booking Date
                                                        .col-xs-12.col-sm-8.col-md-8.col-lg-8
                                                            strong 21/01/2017
                                            .col-xs-12.col-sm-12.col-md-3.col-lg-3
                                                .form-group
                                                    .row
                                                        .col-xs-12.col-sm-4.col-md-4.col-lg-4
                                                            label Selling Price
                                                        .col-xs-12.col-sm-8.col-md-8.col-lg-8
                                                            strong 50,000
                                            .col-xs-12.col-sm-12.col-md-3.col-lg-3
                                                .form-group
                                                    .row
                                                        .col-xs-12.col-sm-4.col-md-4.col-lg-4
                                                            label Booking Amount
                                                        .col-xs-12.col-sm-8.col-md-8.col-lg-8
                                                            strong 50,000
                                            .col-xs-12.col-sm-12.col-md-3.col-lg-3
                                                .form-group
                                                    .row
                                                        .col-xs-12.col-sm-4.col-md-4.col-lg-4
                                                            label Payment Plan
                                                        .col-xs-12.col-sm-8.col-md-8.col-lg-8
                                                            strong 6 months
                                            .col-xs-12.col-sm-12.col-md-3.col-lg-3
                                                .form-group
                                                    .row
                                                        .col-xs-12.col-sm-4.col-md-4.col-lg-4
                                                            label Installment
                                                        .col-xs-12.col-sm-8.col-md-8.col-lg-8
                                                            strong 1100
                                        .row
                                            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                                h3.p_subheading Monthly Payment Details
                                        table.table-responsive.table.table-striped.misreport(cellpadding='5', style='width:100%;', border='1')
                                            tbody
                                                tr.background-e2e8f0.no-border
                                                    th.col-md-1 Installment No.
                                                    th.col-md-1 Due Date
                                                    th.col-md-1 Allotee Name
                                                    th.col-md-5(colspan='2') Project Name
                                                    th.col-md-1 Amount
                                                    th.col-md-1 Status
                                                    th.col-md-1 Balance
                                                tr
                                                    td.col-md-1 01
                                                    td.col-md-1(style='width:40px;') 5/04/2017
                                                    td.col-md-1 Ishtiaq Hussain
                                                    td.col-md-4(colspan='2') Housing Soceity Benglow
                                                    td.col-md-1 10000
                                                    td.col-md-1 paid
                                                    td.col-md-1 10000
                                                tr.no-border
                                                    td(colspan='4')
                                                    td.col-md-1 Total
                                                    td.background-e6e6e6 40000
                                                    td(colspan='2')
                                        button.btn.btn-danger.btn-lg.btn-dark-Red.text-uppercase(type='button', style='margin-right:20px;') Save
                                        button.btn.btn-dark-black.btn-lg.text-uppercase(type='button') Print
