div(style='background: #f1f1f1 !important;float: left;width: 100%;padding-bottom: 20px;position: relative;')
    div(style='padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;position: relative;')
        section#page-title(style='border-bottom: 0px solid #eee;padding: 25px 0;position: relative;margin-left: -15px;margin-right: -15px;background: #f1f1f1;display: block;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;color: #000;direction: ltr;overflow-x: hidden;font-family: Helvetica, Arial, sans-serif;font-size: 13px;background: #f1f1f1;-webkit-font-smoothing: antialiased !important;')
            .row(style='margin: 0 15px;padding: 0;')
                div(style='border-color: #aeaeae;width: 16.66666667%;border-right-style: solid;border-right-width: 1px;float: left;padding: 0 15px;')
                    img(src='http://45.55.84.192:3000/assets/images/fms.png', style='width: 100%;max-width:230px;')
                div(style='width: 66.66666667%;float: left;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;margin: 0;')
                    h1(style='font-size: 38.02px;color: #545454;font-weight: 400;letter-spacing: 1px;line-height: 1;margin: 0;padding: 0;text-transform: uppercase;font-family: "Raleway", sans-serif;') Trial Balance
                    span(style='font-size: 19px;color: #ec5d58;font-weight: 400;margin-top: 0;display: block;text-transform: uppercase;font-family: "Lato", sans-serif;') Control Listing
    div(style='padding: 30px !important;margin: 0;')
        div(style='width: 100%;float: left;')
            div(style='margin-bottom: 0;display: block;float: left;width: 100%;background-color: #ffffff;position: relative;color: #000;border: 1px solid rgba(0, 0, 0, 0.07);-moz-border-radius: 0 !important;-webkit-border-radius: 0;border-radius: 0 !important;')
                div(style='border-left-color: #f5b620;border-left-style: solid;border-left-width: 4px;float: left;width: 100%;min-height: 0 !important;line-height: normal !important;position: relative;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: rgba(0, 0, 0, 0.07);padding: 0 !important;font-family: Helvetica, Arial, sans-serif;font-size: 13px;')
                    h4.panel-title.pull-left.padding-15(style='margin-top: 0;margin-bottom: 0;font-size: 24px;color: inherit;text-transform: uppercase;padding: 15px;float: left;') Project Name: Project 1
                    h6(style='padding: 15px !important;text-align: right;font-size: 12px;font-family: inherit;font-weight: 500;line-height: 1.1;color: inherit;float: right;margin: 10px 0;') Create Date: Wednesday, 27 September 2017
                    h6(style='padding: 15px !important;text-align: right;font-size: 12px;font-family: inherit;font-weight: 500;line-height: 1.1;color: inherit;float: right;margin: 10px 0;') Period: 01/09/2017 - 30/09/2017
                div(style='padding: 30px !important;position: relative;float: left;width: 97%;')
                    table.table.table-striped.table-responsive.misreport(style='width:100%;font-size: 14px;color: #545454 !important;font-weight: 400;border-spacing: 0;border-collapse: collapse;border: 0px;background: #ffffff;min-height: .01%;overflow-x: auto;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;float: left;', border='1', cellpadding='5')
                        tbody
                            tr.no-border(style='background-color: #f9f9f9;font-size: 14px;color: #545454 !important;font-weight: 400;-webkit-font-smoothing: antialiased !important;font-family: Helvetica, Arial, sans-serif;')
                                th(colspan='2', style='vertical-align: middle;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;padding: 8px;line-height: 1.42857143;text-align: left;')
                                th(colspan='2', style='vertical-align: middle;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;padding: 8px;line-height: 1.42857143;text-align: center;') Opening
                                th(colspan='2', style='vertical-align: middle;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;padding: 8px;line-height: 1.42857143;text-align: center;') Activity During Period
                                th.text-center(colspan='2', style='vertical-align: middle;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;padding: 8px;line-height: 1.42857143;text-align: center;') Closing
                            tr.background-e2e8f0.no-border(style='border: 0px;font-size: 14px;font-weight: 400;font-family: Helvetica, sans-serif;text-align: left;')
                                th(style='width:10%;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;vertical-align: middle;background: #e2e8f0;border: none;padding: 8px;line-height: 1.42857143;') Code
                                th(style='width:30%;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;vertical-align: middle;background: #e2e8f0;border: none;padding: 8px;line-height: 1.42857143;') Account Description
                                th(style='width:10%;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;vertical-align: middle;background: #e2e8f0;border: none;padding: 8px;line-height: 1.42857143;') Debit Balance
                                th(style='width:10%;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;vertical-align: middle;background: #e2e8f0;border: none;padding: 8px;line-height: 1.42857143;') Credit Balance
                                th(style='width:10%;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;vertical-align: middle;background: #e2e8f0;border: none;padding: 8px;line-height: 1.42857143;') Debit Activity
                                th(style='width:10%;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;vertical-align: middle;padding: 8px;line-height: 1.42857143;background: #e2e8f0;border: none;') Credit Activity
                                th(style='width:10%;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;vertical-align: middle;background: #e2e8f0;border: none;padding: 8px;line-height: 1.42857143;') Debit Balance
                                th(style='width:10%;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;vertical-align: middle;background: #e2e8f0;border: none;padding: 8px;line-height: 1.42857143;') Credit Balance
                            tr(style='background-color: #f9f9f9;font-size: 14px;font-family: Helvetica, sans-serif;font-weight: 400;')
                                td(style='vertical-align: middle;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;padding: 8px;line-height: 1.42857143;') 004
                                td(style='vertical-align: middle;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;padding: 8px;line-height: 1.42857143;') Control 1
                                td(style='vertical-align: middle;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;padding: 8px;line-height: 1.42857143;') 6000
                                td(style='vertical-align: middle;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;padding: 8px;line-height: 1.42857143;') 0
                                td(style='vertical-align: middle;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;padding: 8px;line-height: 1.42857143;') 3000
                                td(style='vertical-align: middle;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;padding: 8px;line-height: 1.42857143;') 517000
                                td(style='vertical-align: middle;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;padding: 8px;line-height: 1.42857143;') 0
                                td(style='vertical-align: middle;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;padding: 8px;line-height: 1.42857143;') 508000
                            tr(style='background: #ffffff;font-size: 14px;font-family: Helvetica, sans-serif;font-weight: 400;')
                                td(style='vertical-align: middle;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;padding: 8px;line-height: 1.42857143;font-size: 14px;font-weight: 400;') 006
                                td(style='vertical-align: middle;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;padding: 8px;line-height: 1.42857143;font-size: 14px;font-weight: 400;') Control 3
                                td(style='vertical-align: middle;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;padding: 8px;line-height: 1.42857143;font-size: 14px;font-weight: 400;') 6000
                                td(style='vertical-align: middle;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;padding: 8px;line-height: 1.42857143;font-size: 14px;font-weight: 400;') 0
                                td(style='vertical-align: middle;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;padding: 8px;line-height: 1.42857143;font-size: 14px;font-weight: 400;') 500000
                                td(style='vertical-align: middle;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;padding: 8px;line-height: 1.42857143;font-size: 14px;font-weight: 400;') 0
                                td(style='vertical-align: middle;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;padding: 8px;line-height: 1.42857143;font-size: 14px;font-weight: 400;') 506000
                                td(style='vertical-align: middle;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;padding: 8px;line-height: 1.42857143;font-size: 14px;font-weight: 400;') 0
                            tr(style='font-weight:bold;background-color: #f9f9f9;font-size: 14px;')
                                td(colspan='2', style='text-align:right;padding: 8px;line-height: 1.42857143;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;vertical-align: middle;') Grand Total (Rs.)
                                td(style='text-align: right;padding: 8px;line-height: 1.42857143;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;vertical-align: middle;') 12000
                                td(style='text-align: right;padding: 8px;line-height: 1.42857143;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;vertical-align: middle;') 0
                                td(style='text-align: right;padding: 8px;line-height: 1.42857143;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;vertical-align: middle;') 503000
                                td(style='text-align: right;padding: 8px;line-height: 1.42857143;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;vertical-align: middle;') 517000
                                td(style='text-align: right;padding: 8px;line-height: 1.42857143;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;vertical-align: middle;') 506000
                                td(style='text-align: right;padding: 8px;line-height: 1.42857143;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;vertical-align: middle;') 508000
                            tr(style='font-weight:bold;font-size: 14px;color: #545454 !important;')
                                td(colspan='7', style='text-align:right;vertical-align: middle;border-bottom: 1px solid #e2e2e4;color: #000 !important;border-top: none;padding: 8px;line-height: 1.42857143;font-weight: bold;font-size: 14px;') Difference
                                td -2000
