doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        title FocusMedia360° - Management

    body
        table(style='width:100%;padding:15px;')
            tbody
                tr
                    td(colspan='2' style="text-align:left;")
                        h2(style="margin:0;") Elegant Residency
                    td(style="text-align:right;") Sunday, 27 August 2017
                tr
                    td(colspan="3")



