.typeahead {
    position: relative;
}

ul {
    position: absolute;
    padding: 0;
    margin-top: 8px;
    min-width: 100%;
    background-color: #fff;
    list-style: none;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    z-index: 1000;
}

li {
    padding: 6px 12px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

li:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

li:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: 0;
}

span {
    display: block;
    color: #2c3e50;
}

.active {
    background-color: #e8534f;
}

.active span {
    color: white;
}

.name {
    font-weight: 700;
    font-size: 14px;
}