.modal.fade.modal-aside.horizontal.right.add-control(tabindex='-1' id="add_type_items" role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
    .modal-dialog.modal-dialog.modal-sm
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h4#myModalLabel.modal-title {{ (sel_subs && sel_subs !== "") ? "Edit":"Add" }}  Type Item
            .modal-body
                div.text-center(v-if='dataLoad1')
                    i.fa.fa-refresh.fa-spin.fa-fw.fa-2x
                form(v-else v-on:submit.prevent='addTypeItem')
                    .form-group
                        p.alert.alert-danger(v-if="errMain !== ''") {{ errMain }}
                        p.alert.alert-success(v-if="sucMain !== ''") {{ sucMain }}
                        .row.margin-bottom-10
                            .col-md-12
                                .form-group
                                    label Subsidiary
                                    select.form-control(v-model='sel_subs')
                                        option(value='') Select Subsidiary
                                        option(v-for='(row, key, ind) in regSubsData' v-bind:value='key') {{ row.name }}
                                    p.text-danger.text-right(v-if='validation.hasError("sel_subs")') {{ validation.firstError('sel_subs') }}
                                    .text-right(v-if='validation.isValidating("sel_subs")')
                                        i.fa.fa-spinner.fa-spin
                            .col-md-12
                                .form-group
                                    label {{ type_name }} No.
                                    input.form-control(type='text', v-bind:placeholder='type_name+" No."' v-model="name")
                                    p.text-danger.text-right(v-if='validation.hasError("name")') {{ validation.firstError('name') }}
                                    .text-right(v-if='validation.isValidating("name")')
                                        i.fa.fa-spinner.fa-spin
                    button.btn.btn-primary(type='submit' v-if="!inProcess")
                        | Save
                    button.btn.btn-primary.btn-o.pull-right(type='button', data-dismiss='modal')
                        | Cancel
                    button.btn.btn-primary.mar-lf-10(type='button' disabled='disabled' v-if="inProcess")
                        i.fa.fa-refresh.fa-spin.fa-fw