<div id="container" class="wrap-content container">
    <section id="page-title">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="mainTitle">Dashboard</h1><span class="mainDescription">Party Information</span>
            </div>
            <ol class="breadcrumb">
                <li><span>Dashboard</span></li>
                <li class="active"><span>Party Information</span></li>
            </ol>
        </div>
    </section>
    <div class="container-fluid container-fullw bg-offwhite">
        <form id="form" v-on:submit.prevent="addContEntry">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-white no-radius">
                        <div class="panel-heading border-bottom border-left border-yellow no-padding no-line-height no-min-height">
                            <h4 class="panel-title pull-left padding-15">Party Information</h4>
                            <div class="text-right"><a href="#" data-toggle="modal" data-target="#add_control" class="btn btn-tabbutton"><img src="assets/images/icons/tabicon1.png" class="tab-icon"/>Add New Control</a><a href="#" data-toggle="modal" data-target="#add_sub_control" class="btn btn-tabbutton"><img src="assets/images/icons/tabicon2.png" class="tab-icon"/>Add New Sub Control</a><a href="#" data-toggle="modal" data-target="#add_subsidiary" class="btn btn-tabbutton"><img src="assets/images/icons/tabicon3.png" class="tab-icon"/>Add New Subsidiary</a></div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div v-if="dataLoad2" class="text-center"><i class="fa fa-refresh fa-spin fa-fw fa-2x"></i></div>
                                                <select v-else="v-else" v-model="sel_party" class="form-control">
                                                    <option value="">Select Party Information</option>
                                                    <option v-for="(row, key, ind) in partyData" v-bind:value="key">{{ row.contact_name }} | {{ row.agent_name }}</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4 pull-right"><router-link to="/add_party" class="btn btn-tabbutton pull-right"><i class="ti-angle-left"></i> Add Party Information</router-link></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form v-on:submit.prevent="">
                                <div v-if="errMain !== &quot;&quot; || sucMain !== &quot;&quot;" class="row">
                                    <div class="col-md-12">
                                        <p v-if="errMain !== ''" class="alert alert-danger">{{ errMain }}</p>
                                        <p v-if="sucMain !== ''" class="alert alert-success">{{ sucMain }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 class="p_subheading">Person Details</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Contact Name</label>
                                            <input type="text" placeholder="Enter your Contact Name" v-model="contact_name" class="form-control"/>
                                            <p v-if="validation.hasError(&quot;contact_name&quot;)" class="text-danger text-right">{{ validation.firstError('contact_name') }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Agent Code</label>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <input type="text" placeholder="Enter your Agent Code" v-model="agent_code" class="form-control"/>
                                                    <p v-if="validation.hasError(&quot;agent_code&quot;)" class="text-danger text-right">{{ validation.firstError('agent_code') }}</p>
                                                </div>
                                                <div class="col-md-8">
                                                    <input type="text" placeholder="Enter your Agent Name" v-model="agent_name" class="form-control"/>
                                                    <p v-if="validation.hasError(&quot;agent_name&quot;)" class="text-danger text-right">{{ validation.firstError('agent_name') }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Address</label>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="text" placeholder="Enter your Address" v-model="address" class="form-control"/>
                                                    <p v-if="validation.hasError(&quot;address&quot;)" class="text-danger text-right">{{ validation.firstError('address') }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <com_cities ref="sel_city"></com_cities>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Category</label>
                                            <div v-if="dataLoad1" class="text-center"><i class="fa fa-refresh fa-spin fa-fw fa-2x"></i></div>
                                            <select v-else="v-else" v-model="sel_category" class="form-control">
                                                <option value="">Select Category</option>
                                                <option v-for="(row, key, ind) in pCatData" v-bind:value="key">{{ row.name }}</option>
                                            </select>
                                            <p v-if="validation.hasError(&quot;sel_category&quot;)" class="text-danger text-right">{{ validation.firstError('sel_category') }}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Group Code</label>
                                            <input type="text" placeholder="Enter your Group Code" v-model="group_code" class="form-control"/>
                                            <p v-if="validation.hasError(&quot;group_code&quot;)" class="text-danger text-right">{{ validation.firstError('group_code') }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 class="p_subheading">Contact Details</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Phone Number</label>
                                            <input type="tel" placeholder="Enter your Phone number" v-model="phone_num" class="form-control"/>
                                            <p v-if="validation.hasError(&quot;phone_num&quot;)" class="text-danger text-right">{{ validation.firstError('phone_num') }}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>fax Number</label>
                                            <input type="text" placeholder="Enter your Fax number" v-model="fax_num" class="form-control"/>
                                            <p v-if="validation.hasError(&quot;fax_num&quot;)" class="text-danger text-right">{{ validation.firstError('fax_num') }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="email" placeholder="Enter your Email" v-model="email" class="form-control"/>
                                            <p v-if="validation.hasError(&quot;email&quot;)" class="text-danger text-right">{{ validation.firstError('email') }}</p>
                                            <div v-if="validation.isValidating(&quot;email&quot;)" class="text-right"><i class="fa fa-spinner fa-spin"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 class="p_subheading">Legal Information</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>NIC Number</label>
                                            <input type="text" placeholder="Enter your NIC Number" v-model="nic_num" class="form-control"/>
                                            <p v-if="validation.hasError(&quot;nic_num&quot;)" class="text-danger text-right">{{ validation.firstError('nic_num') }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>NTN Number</label>
                                            <input type="text" placeholder="Enter your NTN Number" v-model="ntn_num" class="form-control"/>
                                            <p v-if="validation.hasError(&quot;ntn_num&quot;)" class="text-danger text-right">{{ validation.firstError('ntn_num') }}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>GST Number</label>
                                            <input type="text" placeholder="Enter your GST Number" v-model="gst_num" class="form-control"/>
                                            <p v-if="validation.hasError(&quot;gst_num&quot;)" class="text-danger text-right">{{ validation.firstError('gst_num') }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>CR Day</label>
                                            <input type="text" placeholder="Enter your CR Day" v-model="cr_day" class="form-control"/>
                                            <p v-if="validation.hasError(&quot;cr_day&quot;)" class="text-danger text-right">{{ validation.firstError('cr_day') }}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>CR Limit</label>
                                            <input type="text" placeholder="Enter your CR Limit" v-model="cr_limit" class="form-control"/>
                                            <p v-if="validation.hasError(&quot;cr_limit&quot;)" class="text-danger text-right">{{ validation.firstError('cr_limit') }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 pull-right">
                                        <button type="button" disabled="disabled" v-if="inProcess" class="btn btn-lg btn-primary btn-wide pull-right"><i class="fa fa-refresh fa-spin fa-fw"></i></button>
                                        <template v-else="v-else">
                                            <button v-if="updateP" type="button" v-on:click.prevent="updateParty" class="btn btn-lg btn-primary btn-wide pull-right">Update <i class="fa fa-arrow-circle-right"></i></button>
                                            <button v-else="v-else" type="button" v-on:click.prevent="createParty" class="btn btn-lg btn-primary btn-wide pull-right">Submit <i class="fa fa-arrow-circle-right"></i></button>
                                        </template>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>