#calculator.modal.fade.modal-aside.center(tabindex='-1', role='dialog', aria-labelledby='All Calculator', aria-hidden='true')
    .modal-dialog.modal-dialog.modal-lg
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h4#myModalLabel.modal-title Calculator
            .modal-body
                .panel.panel-white
                    .panel-body
                        ul.nav
                            li.col-md-6.padding-none.active
                                a(href='#simple', data-toggle='tab') Simple Calculator
                            li.col-md-6.padding-none
                                a(href='#compound', data-toggle='tab') Compound Calculator
                        .tab-content
                            #simple.tab-pane.fade.in.active
                                .row
                                    .col-md-12
                                        p.result 00.0
                                        .calculator-section
                                            .row
                                                .col-md-4
                                                    label(style='line-height: 32px;') Enter Current Calculation Label:
                                                .col-md-8.padding-left-none
                                                    .row.margin-none.save-section
                                                        .col-md-8.padding-none
                                                            input.form-control.labelsave(type='text')
                                                        .col-md-4.padding-none
                                                            input.btn.btn-red.btn-md.full-width(type='submit', style='background: #a6c367;text-transform: uppercase;font-weight: 600;')
                                            #calculatortab
                                                .recent-calcu
                                                    .row
                                                        .col-md-6
                                                            .interestlabel.form-group
                                                                fieldset
                                                                    label.control-label(for='given_data') Solve for:
                                                                    .row
                                                                        .col-md-12
                                                                            select#given_data.form-control(name='interest-select')
                                                                                option(value='find_A', selected='selected') Total P+I (A)
                                                                                option(value='find_P') Principal (P)
                                                                                option(value='find_r') Rate (R)
                                                                                option(value='find_t') Time Period (t)
                                                                            span.formula Where: A = P(1 + rt)
                                                            .interestform.form-container
                                                                .commonTable
                                                                    .row.form-group
                                                                        .col-md-12
                                                                            input.form-control(value='', type='text', title='Principal (P): $', placeholder='Principal (P): Rs', required='')
                                                                    .row.form-group
                                                                        .col-md-12
                                                                            input.form-control(value='', type='text', title='Rate): %', placeholder='Rate (R): % per year', required='')
                                                                    .row.form-group
                                                                        .col-md-12
                                                                            input.form-control.nmbr_real.real(value='', type='text', title='Time:', placeholder='Time:', required='')
                                                                    .row.form-group
                                                                        .col-md-12
                                                                            select#time_t.form-control
                                                                                option(value='value') Time Unit
                                                                                option(value='day 365') days (365/Yr)
                                                                                option(value='day 360') days (360/Yr)
                                                                                option(value='week') weeks
                                                                                option(value='month') months
                                                                                option(value='quarter') quarters
                                                                                option(value='year') years
                                                                    .row.form-group
                                                                        .col-md-6
                                                                            #actionCalculate.calculatorButton.pull-left
                                                                                input.btn.btn-red.btn-md.text-uppercase(type='submit', value='Calculate')
                                                                        .col-md-6
                                                                            #actionClear.calculatorButton.pull-right
                                                                                input.btn.btn-red.btn-md.text-uppercase(type='reset', name='reset', value='Clear')
                                                        .col-md-6
                                                            h4.heading Recent Calculations
                                                            .recent-calculations
                                                                .row.margin-none
                                                                    .col-md-8.padding-none
                                                                        p.text-left 2016 Jan-Aug PROFIT PERCENTAGE
                                                                    .col-md-4.padding-none
                                                                        p.text-right.text-bold 24%
                                                                .row.margin-none
                                                                    .col-md-8.padding-none
                                                                        p.text-left 2017 Tax monthly
                                                                    .col-md-4.padding-none
                                                                        p.text-right.text-bold 42,000
                                                                .row.margin-none
                                                                    .col-md-8.padding-none
                                                                        p.text-left S.M Accosiates Monthly Plan
                                                                    .col-md-4.padding-none
                                                                        p.text-right.text-bold 86,000
                                                                .row.margin-none
                                                                    .col-md-8.padding-none
                                                                        p.text-left Yearly Discount Rate
                                                                    .col-md-4.padding-none
                                                                        p.text-right.text-bold 0.34
                                                                .row.margin-none.no-border
                                                                    .col-md-12.padding-none
                                                                        a.anchor-red.pull-right(href='#') Clear All
                            #compound.tab-pane.fade.in
                                .row
                                    .col-md-12
                                        .row
                                            .col-md-6
                                                p Future Value
                                                p.result 00.00
                                            .col-md-6
                                                p Interest Earned
                                                p.result 00.00
                                        .calculator-section
                                            .row
                                                .col-md-4
                                                    label(style='line-height: 32px;') Enter Current Calculation Label:
                                                .col-md-8.padding-left-none
                                                    .row.margin-none.save-section
                                                        .col-md-8.padding-none
                                                            input.form-control.labelsave(type='text')
                                                        .col-md-4.padding-none
                                                            input.btn.btn-red.btn-md.full-width(type='submit', style='background: #a6c367;text-transform: uppercase;font-weight: 600;')
                                            #calculatortab
                                                .recent-calcu
                                                    .row
                                                        .col-md-6
                                                            .interestform.form-container
                                                                .commonTable
                                                                    .row.form-group
                                                                        .col-md-12
                                                                            input.form-control(value='', type='text', title='Initial Investment', placeholder='Initial Investment', required='')
                                                                    .row.form-group
                                                                        .col-md-12
                                                                            input.form-control(value='', type='text', title='Monthly Addition', placeholder='Monthly Addition', required='')
                                                                    .row.form-group
                                                                        .col-md-12
                                                                            input.form-control(value='', type='text', title='Interest Rate %', placeholder='Interest Rate %', required='')
                                                                    .row.form-group
                                                                        .col-md-12
                                                                            input.form-control(value='', type='text', title='Number of Years', placeholder='Number of Years', required='')
                                                                    .row.form-group
                                                                        .col-md-6
                                                                            #actionCalculate.calculatorButton.pull-left
                                                                                input.btn.btn-red.btn-md.text-uppercase(type='submit', value='Compute')
                                                                        .col-md-6
                                                                            #actionClear.calculatorButton.pull-right
                                                                                input.btn.btn-red.btn-md.text-uppercase(type='reset', name='reset', value='Clear')
                                                        .col-md-6
                                                            h4.heading Recent Calculations
                                                            .recent-calculations
                                                                .row.margin-none
                                                                    .col-md-8.padding-none
                                                                        p.text-left 2016 Jan-Aug PROFIT PERCENTAGE
                                                                    .col-md-4.padding-none
                                                                        p.text-right.text-bold 24%
                                                                .row.margin-none
                                                                    .col-md-8.padding-none
                                                                        p.text-left 2017 Tax monthly
                                                                    .col-md-4.padding-none
                                                                        p.text-right.text-bold 42,000
                                                                .row.margin-none
                                                                    .col-md-8.padding-none
                                                                        p.text-left S.M Accosiates Monthly Plan
                                                                    .col-md-4.padding-none
                                                                        p.text-right.text-bold 86,000
                                                                .row.margin-none
                                                                    .col-md-8.padding-none
                                                                        p.text-left Yearly Discount Rate
                                                                    .col-md-4.padding-none
                                                                        p.text-right.text-bold 0.34
                                                                .row.margin-none.no-border
                                                                    .col-md-12.padding-none
                                                                        a.anchor-red.pull-right(href='#') Clear All
