#calculator.modal.fade.modal-aside.center(tabindex='-1', role='dialog', aria-labelledby='All Calculator', aria-hidden='true')
    .modal-dialog.modal-dialog.modal-lg
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h4#myModalLabel.modal-title Calculator
            .modal-body
                .panel.panel-white
                    .panel-body
                        ul.nav
                            li.col-md-6.padding-none.active
                                a(href='#simple', data-toggle='tab') Simple Calculator
                            li.col-md-6.padding-none
                                a(href='#compound', data-toggle='tab') Compound Calculator
                        .tab-content
                            #simple.tab-pane.fade.in.active
                                .row
                                    .col-md-12
                                        p.result {{ simple_res }}
                                        .calculator-section
                                            .row
                                                .col-md-4
                                                    label(style='line-height: 32px;') Enter Current Calculation Label:
                                                .col-md-8.padding-left-none
                                                    .row.margin-none.save-section
                                                        .col-md-8.padding-none
                                                            input.form-control.labelsave(type='text')
                                                        .col-md-4.padding-none
                                                            input.btn.btn-red.btn-md.full-width(type='submit', style='background: #a6c367;text-transform: uppercase;font-weight: 600;')
                                            #calculatortab1
                                                .recent-calcu
                                                    .row
                                                        .col-md-6
                                                            simpleIntCal(v-on:calculate="showSimpleResult")
                                                        .col-md-6
                                                            h4.heading Recent Calculations
                                                            .recent-calculations
                                                                .row.margin-none
                                                                    .col-md-8.padding-none
                                                                        p.text-left 2016 Jan-Aug PROFIT PERCENTAGE
                                                                    .col-md-4.padding-none
                                                                        p.text-right.text-bold 24%
                                                                .row.margin-none
                                                                    .col-md-8.padding-none
                                                                        p.text-left 2017 Tax monthly
                                                                    .col-md-4.padding-none
                                                                        p.text-right.text-bold 42,000
                                                                .row.margin-none
                                                                    .col-md-8.padding-none
                                                                        p.text-left S.M Accosiates Monthly Plan
                                                                    .col-md-4.padding-none
                                                                        p.text-right.text-bold 86,000
                                                                .row.margin-none
                                                                    .col-md-8.padding-none
                                                                        p.text-left Yearly Discount Rate
                                                                    .col-md-4.padding-none
                                                                        p.text-right.text-bold 0.34
                                                                .row.margin-none.no-border
                                                                    .col-md-12.padding-none
                                                                        a.anchor-red.pull-right(href='#') Clear All
                            #compound.tab-pane.fade.in
                                .row
                                    .col-md-12
                                        .row
                                            .col-md-6
                                                p Future Value
                                                p.result {{ comp_fv_res }}
                                            .col-md-6
                                                p Interest Earned
                                                p.result {{ comp_iv_res }}
                                        .calculator-section
                                            .row
                                                .col-md-4
                                                    label(style='line-height: 32px;') Enter Current Calculation Label:
                                                .col-md-8.padding-left-none
                                                    .row.margin-none.save-section
                                                        .col-md-8.padding-none
                                                            input.form-control.labelsave(type='text')
                                                        .col-md-4.padding-none
                                                            input.btn.btn-red.btn-md.full-width(type='submit', style='background: #a6c367;text-transform: uppercase;font-weight: 600;')
                                            #calculatortab2
                                                .recent-calcu
                                                    .row
                                                        .col-md-6
                                                            compoundIntCal(v-on:calculate="showCompoundResult")
                                                        .col-md-6
                                                            h4.heading Recent Calculations
                                                            .recent-calculations
                                                                .row.margin-none
                                                                    .col-md-8.padding-none
                                                                        p.text-left 2016 Jan-Aug PROFIT PERCENTAGE
                                                                    .col-md-4.padding-none
                                                                        p.text-right.text-bold 24%
                                                                .row.margin-none
                                                                    .col-md-8.padding-none
                                                                        p.text-left 2017 Tax monthly
                                                                    .col-md-4.padding-none
                                                                        p.text-right.text-bold 42,000
                                                                .row.margin-none
                                                                    .col-md-8.padding-none
                                                                        p.text-left S.M Accosiates Monthly Plan
                                                                    .col-md-4.padding-none
                                                                        p.text-right.text-bold 86,000
                                                                .row.margin-none
                                                                    .col-md-8.padding-none
                                                                        p.text-left Yearly Discount Rate
                                                                    .col-md-4.padding-none
                                                                        p.text-right.text-bold 0.34
                                                                .row.margin-none.no-border
                                                                    .col-md-12.padding-none
                                                                        a.anchor-red.pull-right(href='#') Clear All
