#container.wrap-content.container
    section#page-title
        .row
            .col-sm-8
                h1.mainTitle Master Files
                span.mainDescription Chart of Accounts
            ol.breadcrumb
                li
                    span Master Files
                li
                    span Chart of Accounts
                li.active
                    span Sub Control
    .container-fluid.container-fullw.bg-white
        .row
            .col-md-12
                h2 Sub Control
                p
                    | Create one Sub control.
                hr
                form#form(action='subsidiary.html', role='form', novalidate='novalidate')
                    .row
                        .col-md-12
                            .errorHandler.alert.alert-danger.no-display
                                i.fa.fa-times-sign
                                |  You have some form errors. Please check
                                |                                             below.
                            .successHandler.alert.alert-success.no-display
                                i.fa.fa-ok
                                |  Your form validation is successful!
                        .col-md-12
                            .form-group
                                label.control-label
                                    | Project
                                    span.symbol.required(aria-required='true')
                                .row
                                    .col-md-3
                                        input#Company_id.form-control(type='text', placeholder='ID of Project', name='company_id', disabled='')
                                    .col-md-7
                                        select#Company_name.form-control(name='com_name')
                                            option(value='01') Project 1
                                            option(value='02') Project 2
                                    .col-md-2.icon-container
                                        ul.ul-action
                                            li
                                                a.add-project(href='#', data-toggle='modal', data-target='.add-project')
                                                    i.ti-plus
                                            li
                                                a.edit-project(href='#', data-toggle='modal', data-target='.edit-project')
                                                    i.ti-pencil-alt
                                            li
                                                a.Control-link(href='#delete')
                                                    i.ti-close
                            .form-group
                                label.control-label
                                    | Control
                                    span.symbol.required(aria-required='true')
                                .row
                                    .col-md-3
                                        input#Control_id.form-control(type='text', placeholder='ID of Control', name='control_id', disabled='')
                                    .col-md-7
                                        select#control_name.form-control(name='control')
                                            option(value='01') Control 1
                                            option(value='02') Control 2
                                    .col-md-2.icon-container
                                        ul.ul-action
                                            li
                                                a.add-project(href='#', data-toggle='modal', data-target='.add-control')
                                                    i.ti-plus
                                            li
                                                a.edit-project(href='#', data-toggle='modal', data-target='.edit-control')
                                                    i.ti-pencil-alt
                                            li
                                                a.Control-link(href='#delete-control')
                                                    i.ti-close
                            .form-group
                                label.control-label
                                    | Sub Control
                                    span.symbol.required(aria-required='true')
                                .row
                                    .col-md-3
                                        input#subcon_id.form-control(type='text', placeholder='ID of Sub Control number', name='subcon_id', disabled='')
                                    .col-md-7
                                        select#project.form-control(name='project')
                                            option(value='01') Sub Control 1
                                            option(value='02') Sub Control 2
                                    .col-md-2.icon-container
                                        ul.ul-action
                                            li
                                                a.add-project(href='#', data-toggle='modal', data-target='.add-subcontrol')
                                                    i.ti-plus
                                            li
                                                a.edit-project(href='#', data-toggle='modal', data-target='.edit-subcontrol')
                                                    i.ti-pencil-alt
                                            li
                                                a.Control-link(href='#delete-control')
                                                    i.ti-close
                    .row
                        .col-md-3
                            .form-group
                                label.control-label
                                    | Open Debit
                                    span.symbol.required(aria-required='true')
                                input.form-control(type='number', name='open_debit', disabled='')
                    .row
                        .col-md-3
                            .form-group
                                label.control-label
                                    | Open Credit
                                    span.symbol.required(aria-required='true')
                                input.form-control(type='number', name='open_credit', disabled='')
                    .row
                        .col-md-4.pull-right
                            button.btn.btn-lg.btn-primary.btn-wide.pull-right(type='submit')
                                | Submit
                                i.fa.fa-arrow-circle-right
    .modal.fade.modal-aside.horizontal.right.edit-subcontrol(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
        .modal-dialog.modal-dialog.modal-sm
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#myModalLabel.modal-title Add Sub Control
                .modal-body
                    .form-group
                        label.control-label
                            | Sub Control
                            span.symbol.required(aria-required='true')
                        .row.margin-bottom-10
                            .col-md-12
                                select#Edit_subcontrol_proname.form-control(name='Edit_subcontrol_proname')
                                    option(value='01') Project 1
                                    option(value='02') Project 2
                        .row.margin-bottom-10
                            .col-md-12
                                select#Edit_subcontrol_conname.form-control(name='Edit_subcontrol_conname')
                                    option(value='01') Control 1
                                    option(value='02') Control 2
                        .row.margin-bottom-10
                            .col-md-12
                                input#Edit_subcontrol_name.form-control(type='text', placeholder='Sub Control Name', name='edit_subcontrol_name')
                        .row.margin-bottom-10
                            .col-md-12
                                input#Edit_subcontrol_opendebit.form-control(type='text', placeholder='Sub Control Open Debit', name='edit_subcontrol_opendebit', disabled='')
                        .row.margin-bottom-10
                            .col-md-12
                                input#Edit_subcontrol_opencredit.form-control(type='text', placeholder='Sub Control Open Credit', name='edit_subcontrol_opencredit', disabled='')
                    button.btn.btn-primary.btn-o(type='button', data-dismiss='modal')
                        | Close
                    button.btn.btn-primary(type='button')
                        | Save changes
    .modal.fade.modal-aside.horizontal.right.add-subcontrol(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
        .modal-dialog.modal-dialog.modal-sm
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#myModalLabel.modal-title Add Sub Control
                .modal-body
                    .form-group
                        label.control-label
                            | Sub Control
                            span.symbol.required(aria-required='true')
                        .row.margin-bottom-10
                            .col-md-12
                                select#Edit_subcontrol_proname.form-control(name='Edit_subcontrol_proname')
                                    option(value='01') Project 1
                                    option(value='02') Project 2
                        .row.margin-bottom-10
                            .col-md-12
                                select#Edit_subcontrol_conname.form-control(name='Edit_subcontrol_conname')
                                    option(value='01') Control 1
                                    option(value='02') Control 2
                        .row.margin-bottom-10
                            .col-md-12
                                input#Edit_Subcontrol_name.form-control(type='text', placeholder='Sub Control Name', name='edit_subcontrol_name')
                        .row.margin-bottom-10
                            .col-md-12
                                input#Edit_subcontrol_opendebit.form-control(type='text', placeholder='Sub Control Open Debit', name='edit_subcontrol_opendebit')
                        .row.margin-bottom-10
                            .col-md-12
                                input#Edit_subcontrol_opencredit.form-control(type='text', placeholder='Sub Control Open Credit', name='edit_subcontrol_opencredit')
                    button.btn.btn-primary.btn-o(type='button', data-dismiss='modal')
                        | Close
                    button.btn.btn-primary(type='button')
                        | Save changes
    .modal.fade.modal-aside.horizontal.right.edit-control(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
        .modal-dialog.modal-dialog.modal-sm
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#myModalLabel.modal-title Add Control
                .modal-body
                    .form-group
                        label.control-label
                            | Control
                            span.symbol.required(aria-required='true')
                        .row.margin-bottom-10
                            .col-md-12
                                select#Edit_subcontrol_proname.form-control(name='Edit_subcontrol_proname')
                                    option(value='01') Project 1
                                    option(value='02') Project 2
                        .row.margin-bottom-10
                            .col-md-12
                                input#Edit_control_name.form-control(type='text', placeholder='Control Name', name='edit_control_name')
                        .row.margin-bottom-10
                            .col-md-12
                                input#Edit_control_opendebit.form-control(type='text', placeholder='Control Open Debit', name='edit_control_opendebit')
                        .row.margin-bottom-10
                            .col-md-12
                                input#Edit_control_opencredit.form-control(type='text', placeholder='Control Open Credit', name='edit_control_opencredit')
                    button.btn.btn-primary.btn-o(type='button', data-dismiss='modal')
                        | Close
                    button.btn.btn-primary(type='button')
                        | Save changes
    .modal.fade.modal-aside.horizontal.right.add-control(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
        .modal-dialog.modal-dialog.modal-sm
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#myModalLabel.modal-title Add Control
                .modal-body
                    .form-group
                        label.control-label
                            | Control
                            span.symbol.required(aria-required='true')
                        .row.margin-bottom-10
                            .col-md-12
                                select#Edit_subcontrol_proname.form-control(name='Edit_subcontrol_proname')
                                    option(value='01') Project 1
                                    option(value='02') Project 2
                        .row.margin-bottom-10
                            .col-md-12
                                input#Edit_control_name.form-control(type='text', placeholder='Control Name', name='edit_control_name')
                        .row.margin-bottom-10
                            .col-md-12
                                input#Edit_control_opendebit.form-control(type='text', placeholder='Control Open Debit', name='edit_control_opendebit')
                        .row.margin-bottom-10
                            .col-md-12
                                input#Edit_control_opencredit.form-control(type='text', placeholder='Control Open Credit', name='edit_control_opencredit')
                    button.btn.btn-primary.btn-o(type='button', data-dismiss='modal')
                        | Close
                    button.btn.btn-primary(type='button')
                        | Save changes
    .modal.fade.modal-aside.horizontal.right.edit-project(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
        .modal-dialog.modal-dialog.modal-sm
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#myModalLabel.modal-title Add Project
                .modal-body
                    .form-group
                        label.control-label
                            | Project
                            span.symbol.required(aria-required='true')
                        .row.margin-bottom-10
                            .col-md-12
                                input#Edit_company_id.form-control(type='hidden', name='edit_company_id')
                                input#Add_company_name.form-control(type='text', placeholder='Project Name', name='edit_company_name')
                        .row.margin-bottom-10
                            .col-md-12
                                select.form-control(name='add_company_type')
                                    option Type
                                    option(value='1') Flat
                                    option(value='2') House
                        .row.margin-bottom-10
                            .col-md-12
                                input#Edit_company_address.form-control(type='text', placeholder='Project Address', name='edit_company_address')
                        .row.margin-bottom-10
                            .col-md-12
                                input#Edit_company_phone.form-control(type='tel', placeholder='Project Contact No', name='edit_company_phone')
                        .row.margin-bottom-10
                            .col-md-12
                                input#Edit_company_date.form-control(type='date', placeholder='Project Date', name='edit_company_date')
                        .row.margin-bottom-10
                            .col-md-12
                                input#Edit_company_open_debit.form-control(type='text', placeholder='Project Address', name='edit_company_open_debit')
                        .row.margin-bottom-10
                            .col-md-12
                                input#Edit_company_open_credit.form-control(type='text', placeholder='Project Address', name='edit_company_open_credit')
                    button.btn.btn-primary.btn-o(type='button', data-dismiss='modal')
                        | Close
                    button.btn.btn-primary(type='button')
                        | Save changes
    .modal.fade.modal-aside.horizontal.right.add-project(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
        .modal-dialog.modal-dialog.modal-sm
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#myModalLabel.modal-title Add Project
                .modal-body
                    .form-group
                        label.control-label
                            | Project
                            span.symbol.required(aria-required='true')
                        .row.margin-bottom-10
                            .col-md-12
                                input#Add_company_id.form-control(type='hidden', name='add_company_id')
                                input#Add_company_name.form-control(type='text', placeholder='Project Name', name='add_company_name')
                        .row.margin-bottom-10
                            .col-md-12
                                select.form-control(name='add_company_type')
                                    option Type
                                    option(value='1') Flat
                                    option(value='2') House
                        .row.margin-bottom-10
                            .col-md-12
                                input#Add_company_address.form-control(type='text', placeholder='Project Address', name='add_company_address')
                        .row.margin-bottom-10
                            .col-md-12
                                input#Add_company_phone.form-control(type='tel', placeholder='Project Contact No', name='add_company_phone')
                        .row.margin-bottom-10
                            .col-md-12
                                input#Add_company_date.form-control.datepicker(type='text', placeholder='Project Date', name='add_company_date')
                    button.btn.btn-primary.btn-o(type='button', data-dismiss='modal')
                        | Close
                    button.btn.btn-primary(type='button')
                        | Save changes
