#container.wrap-content.container
    section#page-title
        .row
            .col-sm-8
                h1.mainTitle 404 PAGE NOT FOUND
                span.mainDescription RETURN TO DASHBOSRD
    .container-fluid.container-fullw.bg-offwhite(style='padding-top: 48px;padding-bottom: 48px;')
        .row
            .col-md-4.col-md-offset-4.text-center
                img.full-width-image(src='assets/images/pageNotFound-icon.png')
            .col-md-12
                h1.big-heading.text-center(style='color: #ec5d58;font-size: 131.94px;text-transform: uppercase;font-weight: 400;margin-top:20px;') Sorry!
                h4.subheading.text-center(style=' color: #545454; font-size: 24px; text-transform: uppercase; ') Didn’t find what you where looking for
                h4.subheading.text-center(style=' color: #545454; font-size: 24px; text-transform: uppercase; ')
                    a(href='#') Click Here
                    |  to return to Dashboard.
